.button {
   border: 0px solid #e6751e;
   background: #dba607;
   background: -webkit-gradient(linear, left top, left bottom, from(#df3801), to(#dba607));
   background: -webkit-linear-gradient(top, #df3801, #dba607);
   background: -moz-linear-gradient(top, #df3801, #dba607);
   background: -ms-linear-gradient(top, #df3801, #dba607);
   background: -o-linear-gradient(top, #df3801, #dba607);
   background-image: -ms-linear-gradient(top, #df3801 0%, #dba607 100%);
   padding: 7px 14px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 0px solid #e6751e;
   text-shadow: #000000 0 1px 0;
   background: #dba607;
   background: -webkit-gradient(linear, left top, left bottom, from(#df3801), to(#dba607));
   background: -webkit-linear-gradient(top, #df3801, #dba607);
   background: -moz-linear-gradient(top, #df3801, #dba607);
   background: -ms-linear-gradient(top, #df3801, #dba607);
   background: -o-linear-gradient(top, #df3801, #dba607);
   background-image: -ms-linear-gradient(top, #df3801 0%, #dba607 100%);
   color: #000000;
   }
.button:active {
   text-shadow: #000000 0 1px 0;
   border: 0px solid #e6751e;
   background: #dba607;
   background: -webkit-gradient(linear, left top, left bottom, from(#df3801), to(#dba607));
   background: -webkit-linear-gradient(top, #df3801, #dba607);
   background: -moz-linear-gradient(top, #df3801, #dba607);
   background: -ms-linear-gradient(top, #df3801, #dba607);
   background: -o-linear-gradient(top, #df3801, #dba607);
   background-image: -ms-linear-gradient(top, #df3801 0%, #dba607 100%);
   color: #fff;
   }